# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2019 Intel Corporation

# EditorConfig - http://editorconfig.org/
# Install the EditorConfig plugin for your favorite editor to benefit from this.

root = false

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[*.md]
max_line_length = 0
trim_trailing_whitespace = false

[COMMIT_EDITMSG]
max_line_length = 0

[conf/*.conf]
indent_size = 2

[*.svg]
indent_size = 4
